# ===========================
# Virtual Environment
# ===========================
venv/

# ===========================
# Python
# ===========================
__pycache__/
*.pyc
*.pyo

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# Models
# ===========================
models/checkpoints/
models/best/
models/final/
models/baseline_v1/

# Ignore all models by default
*.keras
*.h5

# Keep final trained models
!models/
!models/finetune/
!models/finetune/best_cnn_finetuned.keras
!models/finetune/final_cnn_finetuned.keras

# ===========================
# Outputs
# ===========================
outputs/

# ===========================
# Temporary Files
# ===========================
temp/
temp_frames/

# ===========================
# Datasets
# ===========================
dataset/raw/
dataset/processed/
dataset/cnn_dataset/
dataset/video_sequences/

# ===========================
# Large Raw Dataset
# ===========================
dataset/raw/Celeb-DF/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Model Checkpoints
# ===========================
models/checkpoints/

# ===========================
# Archives
# ===========================
*.zip